header {
  padding-top: 5rem;
  position: relative;

}

.list {

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    gap: 5rem;
    position: relative;

    &::after {
      content: '';
      width: 400px;
      height: 800px;
      background-color: $light-grayish-blue;
      display: block;
      position: absolute;
      z-index: -1000;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      left: -70px ;
      padding: 12rem;
}

  }

}

.list-item {
  color: $dark-grayish-blue;

  &.login {
    color: $grayish-blue;
    position: relative;

    @media (min-width : $desktop) {
      &::before {
        content: '';
        position: absolute;
        left: -40px;
        top: 50%;
        transform: translateY(-50%);
        width: 10px;
        height: 10px;
        background-color: $grayish-blue;
        display: inline-block;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        margin-left: 2rem;

      }
    }
  }

  transition: 100ms ease;
  font-size: 2rem;
  text-transform: uppercase;
  position: relative;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: $mobile) {
  .nav {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 80%;
    margin-top: 20px;
    transform: translate(-50%, -1000%);
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding: 20px;
    transition: 200ms ease;

    &.show {
      transform: translate(-50%, 0);
    }
  }
}



@media (max-width: $mobile) {
  li:not(:last-child) {
    padding-bottom: 20px;
  }

  li:last-child {
    border-top: 2px solid $grayish-blue;
    padding-top: 10px;
  }
}


